.env
canvas.jpg
.gitignore
utils/__pycache__/path_calculator.cpython-39.pyc
utils/__pycache__/logger.cpython-39.pyc
__pycache__/view.cpython-39.pyc
__pycache__/simulator.cpython-39.pyc
__pycache__/model.cpython-39.pyc
testiii.json
test2.py
test.py
service_account.json
pathGenerated.json
lentokone.jpg
firebaseConfig.json
canvasImage.jpg
dist
test3.py
tempCodeRunnerFile.py
example.json
compiled.json
tempCodeRunnerFile.py
controller.spec
tempCodeRunnerFile.py
homer.json
requirements.txt
test.js
__pycache__