firebaseConfig.json
.env
__pycache__
canvas.jpg
canvasImage.jpg
compiled.json
controller.spec
dist/
example.json
homer.json
lentokone.jpg
pathGenerated.json
requirements.txt
service_account.json
test.js
test.py
test2.py
test3.py
testiii.json
utils/__pycache__/